modules = ["nodejs-20", "web"]
run = "cd frontend && npm run dev"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 33545
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 38125
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 40955
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 41565
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 42255
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 43667
externalPort = 6000
exposeLocalhost = true
